image:
  - Visual Studio 2017

clone_depth: 1
shallow_clone: false

# All paths in the environment section should be
# cmake-style paths: using forward-slashes (/).
environment:
  PYTHON: "C:\\Python36-x64"
  CMAKE_GENERATOR: "Visual Studio 15 2017"
  BOOST_ROOT: "C:\\Libraries"
  BOOST_VERSION: "1.65.1"
  DEP_DIR: "C:\\dependencies"
  WIN_DEP_NAME: "openrw-windows-dependencies"
  WIN_DEP_URL: "https://github.com/rwengine/openrw-windows-dependencies"
  NAME_SUFFIX: "windows"

platform:
  - Win32
#  - x64

configuration:
#  - Debug
  - Release

matrix:
  fast_finish: false

cache:
  - C:\dependencies -> .appveyor.yml, cmake/ctest/script_ci.ctest, cmake/ctest/utils.ctest, , cmake/ctest/configure_windows.ctest

init:
  - set PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%
  - python --version
  - cmake --version
  - msbuild /version

install:
  - cd "%APPVEYOR_BUILD_FOLDER%"
  - for /f %%i in ('git rev-parse HEAD') do set COMMIT_HASH=%%i
  - if NOT "%APPVEYOR_REPO_COMMIT%" == "%COMMIT_HASH%" echo "Appveyor hash does not match checkout out hash" && exit 1

build_script:
  - ctest -VV -S cmake/ctest/script_ci.ctest

after_build:
  - cd "%APPVEYOR_BUILD_FOLDER%\build"
  - cpack -C Release -G TXZ
  - appveyor PushArtifact OpenRW-%COMMIT_HASH:~0,8%.tar.xz
