# Ignore certain files #

# CMake - General Files #

CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

# CMake - MSYS Makefiles - Files #

Makefile
install_manifest.txt

# CMake - Visual Studio 14 2015 - Files #

*.suo
*.sln
*.vcxproj*
*.VC*

*.a

# Build #

*.exe

# Other #

build/
documentation/
rwgame/GitSHA1.cpp
*.kdev4
*~
*swp
*.user*

# MacOS - Filesystem #

*.DS_Store
