[submodule "external/inih"]
	path = external/inih
	url = https://github.com/benhoyt/inih.git
[submodule "external/mman-win32"]
	path = external/mman-win32
	url = https://github.com/witwall/mman-win32.git
